/* user profile styles */

.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: burlywood ;
  margin: 0;
}


/*Desktop Layout*/

@media only screen and (min-width: 1024px) {
  .user-profile {
    justify-content: flex-start;
    width: fit-content;
    padding: 1em;
  }
}