header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: burlywood ;
}
