/*stylesheet for nav element*/

nav {
  color: #FFFFFF;
  font-size: medium;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  height: 120px;
  width: 100%;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: xx-large;
}

.button-column {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
}

#chevron {
  background-color: inherit;
  color: inherit;
  border: 0px;
}

#chevron:hover {
  text-shadow: 0.25em 0.25em 0.66em  black;
}

.chevron-img {
  background-image: url("/images/chevronRed.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.5em;
  width: 1.5em;
}

#chevron:hover .chevron-img{
  background-image: url("/images/chevron.png");
}