form.tweet-text {
  width: 100%;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttonOutput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee';
  font-size: large;
}

/*styled form for submitting tweet*/
#tweet-text {
    border-width: 0px 0px 2px;
    background: transparent;
    border-color: black;
    width: 100%;
    resize: none;
}

/*Styled button for compose tweet section*/
.submitTweet {
  border: 0px;
  background-color: #4056A1;
  color: white;
}

.submitTweet:hover {
  color: #4056A1;
  background-color: white;
  box-shadow: 4px 4px 10px  dimgray;
}

/*section anchor with offset for fixed header*/
a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}
/* used to change the font of the output to red*/
.redNum {
color: #FF0000;
}