/*styles for the tweet composition element*/
.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*form*/
.tweet-text {
  width: 100%;
  display: none;
}

/*text area*/
#tweet-text {
    border-width: 0 0 0.15em;
    background: transparent;
    border-color: black;
    width: 100%;
    height: 5.5em;
    resize: none;
}

/* error message */
#error-message {
  color: #ff0000;
  background: #ffeeee;
  margin-bottom: 0.15em;
  display: none;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee';
  font-size: large;
}


/*Styled button for compose tweet section*/
.submit-tweet {
  border: 0;
  border-radius: 0.25em;
  background-color: #4056A1;
  color: white;
}

.submit-tweet:hover {
  color: #4056A1;
  background-color: white;
  box-shadow: 0.25em 0.25em 0.66em  dimgray;
}

/* used to change the font of the output to red*/
.red-num {
color: #FF0000;
}


@media only screen and (min-width: 1024px) {
  .new-tweet {
    padding: 1em;
  }
}