/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  overflow: clip;
  position: fixed;
  top: 0;
  width: 100%;
}

/* add to header when .sticky gets added to navbar to stop the pop-in*/
.content {
  height: 120px;
}