/* styling the overall tweet container*/
.tweet {
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid black;
margin: 10px;
padding: 5px;
}

.tweet:hover{
  box-shadow: 4px 4px 10px  dimgray;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.message {
    border: solid black;
    border-width: 0px 0px 2px 0px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.tweet-content {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: small;
}

.fas {
  margin: 5px;
}
