/* styling the overall tweet container*/
.tweet {
display: flex;
flex-direction: column;
align-items: center;
border: 0.15em solid dimgray;
margin-top: 1em;
margin-bottom: 1em;
padding: 0.3em;
}

.tweet:hover{
  box-shadow: 0.25em 0.25em 0.66em  dimgray;
  border-color: black;
  color: black;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.message {
  border: solid dimgray;
  border-width: 0 0 0.15em 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.tweet:hover .message {
  border-color: black;
}

.tweet-content {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: small;
}

.fas {
  margin: 0.3em;
}

/* '.fa*' classes come from font-awesome */
.fa-flag:hover{
  color: #4056A1;
  text-shadow: 0.15em 0.15em 0.33em dimgray;
}

.fa-retweet:hover{
  color: #4056A1;
  text-shadow: 0.15em 0.15em 0.33em dimgray;
}

.fa-heart:hover{
  color: #4056A1;
  text-shadow: 0.15em 0.15em 0.33em dimgray;
}

/*Small smartphone adjustment*/
@media only screen and (min-width: 480px) {
  .header {
    flex-wrap: wrap;
  }
}